{
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript",
        "jsxBracketSameLine": false,
        "singleQuote": true,
        "trailingComma": "none",
        "semi": false,
        "printWidth": 130
      }
    }
  ]
}
